.menu-bar{
    height: 25px;
    width: 25px;
}
.hlogo{
    height: 30px;
    width: 142px;
}

.search-icon{
    height: 20px;
    width: 20px;
    margin-left: 20px;
}
.txtsearch{
    border: hidden;
    height: 50px;
    width: 900px;
}

